:root{
  /* Colors */
  --module-size: 4px;
  --mobile: 375px;
  --desktop: 1440px;
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);


  --paragraph: 500 .875rem/ 1.125rem 'Montserrat', sans-serif;
  --copy: 700 .875rem/ 1.125rem 'Montserrat', sans-serif;
  --headline: 700 2rem/ 2.5rem 'Fraunces', sans-serif;
}

body{
  background: var(--cream);
  color: var(--dark-grayish-blue);
  display: flex;
  font: var(--paragraph);
  padding: 1rem;
  place-content: center;
}

img{
  display: block;
  margin: 0;
  max-width: 100%;
}

.product{
  background: var(--white);
  border-radius: calc(var(--module-size) * 2);
  overflow: hidden;
  max-width: var(--mobile);
}

.product-content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

/* ========== header do card ========== */
.product-content header h1,
.product-content header + p{
  margin: 0;
}
.product-content header h2{
  color: var(--dark-grayish-blue);
  font-size: .875rem;
  letter-spacing: var(--module-size);
  text-transform: uppercase;
} 
.product-content header h1{
  color: var(--very-dark-blue);
  font: var(--headline);
}
.product-content header + p{
  line-height: 1.75;
}

/* ========== preços do card ========== */
.price{
  align-items: center;
  display: flex;
  gap: 1rem;
}

.price-promotion{
  color: var(--dark-cyan);
  font: var(--headline);
}

.in-promotion{
  text-decoration: line-through;
}

.button{
  background: var(--dark-cyan);
  border-radius: calc(var(--module-size) * 2);
  color: var(--white);
  cursor: pointer;
  display: flex;
  font: var(--copy);
  gap: 1rem;
  padding: 1rem;  
  place-content: center;
  text-decoration: none;
  transition: background 250ms;
}

.button:hover{
  background-color: hsl(158, 52%, 21%);
}

/*  ========== break points ==========*/

@media screen and (min-width: 570px){
  .product{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(var(--mobile)*2);
  }

  .procut-image{
    grid-row: 1/ span 3;
  }

  .product-image img{
    height: 100%;
    object-fit: cover;
  }

  .product-content{
    padding: 2rem;
  }

}

.attribution {
  position: fixed;
  bottom: 1.5rem;
  z-index: -1;
  font-size: 11px;
  text-align: center;
  align-self: flex-end;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}